<div id="<%= dom_id training_log %>">
  <div>
    <strong>Workout date:</strong>
    <%= training_log.workout_date %>
  </div>

  <div>
    <strong>Body part:</strong>
    <%= training_log.body_part %>
  </div>

  <div>
    <strong>Exercise name:</strong>
    <%= training_log.exercise_name %>
  </div>

  <div>
    <strong>Weight:</strong>
    <%= training_log.weight %>
  </div>

  <div>
    <strong>Sets:</strong>
    <%= training_log.sets %>
  </div>

  <div>
    <strong>Reps1:</strong>
    <%= training_log.reps1 %>
  </div>

  <div>
    <strong>Reps2:</strong>
    <%= training_log.reps2 %>
  </div>

  <div>
    <strong>Reps3:</strong>
    <%= training_log.reps3 %>
  </div>

  <div>
    <strong>Interval:</strong>
    <%= training_log.interval %>
  </div>

  <div>
    <strong>Memo:</strong>
    <%= training_log.memo %>
  </div>

</div>
